/* Righteous Font */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: url('righteous/Righteous-Regular.ttf') format('truetype');
}

/* Lora Font */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('lora/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('lora/Lora-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url('lora/Lora-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  src: url('lora/Lora-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url('lora/Lora-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 600;
  src: url('lora/Lora-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('lora/Lora-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url('lora/Lora-BoldItalic.ttf') format('truetype');
}
