{% extends 'cotton/base/base.html' %}
{% load static %}

{% block title %}
  Register | NexusLMD
{% endblock %}

{% block content %}
  <div class="min-h-[calc(100vh-50px)] flex items-center justify-center bg-gray-50 sm:px-6 lg:px-8">
    <div class="max-w-md w-full bg-white rounded-lg shadow-md px-8 py-4 space-y-2">
      <div class="text-center">
        
        <h2 class="text-center text-3xl font-extrabold text-gray-900">Create your account</h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Already have an account?
          <a href="{% url 'auth:login' %}" class="font-medium text-blue-600 hover:text-blue-500">Sign in</a>
        </p>
      </div>

      {% if messages %}
        {% for message in messages %}
          {% include 'cotton/authenticate/components/alert.html' with type=message.tags message=message dismissible=True %}
        {% endfor %}
      {% endif %}

      <form class="mt-8 space-y-4" method="POST" action="{% url 'auth:register' %}" hx-boost="true">
        {% csrf_token %}

        <div class="space-y-4">
          <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
            {% include 'cotton/authenticate/components/form_input.html' with label='First Name' type='text' name='first_name' placeholder='first name' required=True autocomplete='given-name' error=form.first_name.errors|first input_classes='text-xs h-6' %}

            {% include 'cotton/authenticate/components/form_input.html' with label='Last Name' type='text' name='last_name' placeholder='last name' required=True autocomplete='family-name' error=form.last_name.errors|first input_classes='text-xs h-6' %}
          </div>

          {% include 'cotton/authenticate/components/form_input.html' with label='Email Address' type='email' name='email' placeholder='your email' required=True autocomplete='email' error=form.email.errors|first input_classes='text-xs h-6' %}

          {% include 'cotton/authenticate/components/form_input.html' with label='Username' type='text' name='username' placeholder='username' required=True autocomplete='username' error=form.username.errors|first input_classes='text-xs h-6' %}

          {% include 'cotton/authenticate/components/form_input.html' with label='Password' type='password' name='password1' placeholder='password' required=True autocomplete='new-password' error=form.password1.errors|first help_text='Your password must be at least 8 characters long and contain letters, numbers and special characters.' input_classes='text-xs h-6' %}

          {% include 'cotton/authenticate/components/form_input.html' with label='Confirm Password' type='password' name='password2' placeholder='confirm pasword' required=True autocomplete='new-password' error=form.password2.errors|first input_classes='text-xs h-6' %}
        </div>

        <div class="flex items-center">
          <input id="terms" name="terms" type="checkbox" required class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
          <label for="terms" class="ml-2 block text-sm text-gray-900">
            I agree to the
            <a href="#" class="text-blue-600 hover:text-blue-500">Terms of Service</a>
            and
            <a href="#" class="text-blue-600 hover:text-blue-500">Privacy Policy</a>
          </label>
        </div>

        <div>
          {% include 'cotton/authenticate/components/button.html' with type='primary' text='Create Account' full_width=True is_submit=True %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
