{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        NexusLMD
      {% endblock %}
    </title>
    {% tailwind_css %}
    {# Favicon #}
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />

    {# CSS #}
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <link rel="stylesheet" href="/static/fonts/fonts.css" />

    {# Alpine.js for interactive components #}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    {# HTMX for dynamic content loading #}
    <script src="https://unpkg.com/htmx.org@1.9.0"></script>

    {# Additional styles #}
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>

    {% block extra_css %}

    {% endblock %}
  </head>
  <body class="bg-gray-100 min-h-screen font-sans">
    <div class="flex h-screen overflow-hidden">
      {% block full_content %}
        {% block content %}

        {% endblock %}
      {% endblock %}
    </div>

    {% block extra_js %}

    {% endblock %}
  </body>
</html>
